@keyframes slide-in-bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out-bottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes slide-in-center {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-out-center {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.dm-popup-content {
  &.animate-slide-in-bottom {
    animation: slide-in-bottom;
  }

  &.animate-slide-out-bottom {
    animation: slide-out-bottom
  }

  &.animate-slide-in-center {
    animation: slide-in-center;
  }

  &.animate-slide-out-center {
    animation: slide-out-center
  }

  &.animate-slide-in-left {
    animation: slide-in-left;
  }

  &.animate-slide-out-left {
    animation: slide-out-left;
  }

  &.animate-slide-in-right {
    animation: slide-in-right;
  }

  &.animate-slide-out-right {
    animation: slide-out-right
  }
}
