@use "../common/style/var.scss" as *;

.dm-checkbox {
	@include flex();
	font-size: var(--dm-checkbox-font-size, 0.88rem);
	font-weight: var(--dm-checkbox-font-weight, 500);
	line-height: var(--dm-checkbox-line-height, 1rem);

	& .dm-checkbox-input {
		white-space: nowrap;
		cursor: pointer;
		outline: none;
		display: inline-block;
		line-height: 1;
		position: relative;
		vertical-align: middle;

		& .dm-checkbox-show {
			z-index: 1;
			width: var(--dm-checkbox-show-size, 0.75rem);
			height: var(--dm-checkbox-show-size, 0.75rem);
			position: relative;
			display: inline-block;
			border: var(--dm-checkbox-show-border, 0.06rem solid $dm-dividing-line-color);
			border-radius: var(--dm-checkbox-show-border-radius, 0.25rem);
		}

		& .dm-checkbox-original {
			position: absolute;
			width: 0;
			height: 0;
			z-index: -1;
			opacity: 0;
			outline: none;
		}
	}

	& .dm-checkbox-label{
		cursor: pointer;
		user-select: none;
	}
}

.is-checked {
	& .dm-checkbox-show {
		background-color: var(--dm-checkbox-show-checked-background-color, $dm-main-color);
	}
	& .dm-checkbox-show::after {
		box-sizing: content-box;
		content: "";
		border: var(--dm-checkbox-show-checked-check, 1px solid #ffffff);
		border-left: 0;
		border-top: 0;
		height: 7px;
		left: 4px;
		position: absolute;
		top: 1px;
		width: 3px;
		transition: transform 0.15s ease-in 0.05s, -webkit-transform 0.15s ease-in 0.05s;
		transform-origin: center;
		transform: rotate(45deg) scaleY(1);
	}
	& .dm-checkbox-label {
		color: var(--dm-checkbox-show-checked-color, $dm-main-color);
	}
}

.is-disabled {
	& .dm-checkbox-show {
		background-color: #edf2fc;
		border-color: #dcdfe6;
		cursor: not-allowed;
	}
	& .dm-checkbox-label {
		color: #c0c4cc;
		cursor: not-allowed;
	}
}

.is-checked .is-disabled {
	& .dm-checkbox-show::after{
		border-color: #c0c4cc;
	}
}