@use "./var.scss" as *;

@mixin calendarGrid() {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(7, minmax(1rem, 1fr));
}

@mixin gridItem() {
	@include flex(center, center);
	aspect-ratio: 1 / 1;
}

@mixin selectedColor() {
	color: var(--dm-calendar-date-selected-color, $dm-button-actived-text-color);
	background-color: var(--dm-calendar-date-selected-background-color, $dm-main-color);
}

@mixin rangeGapStyle($left, $right) {
	content: "";
	position: absolute;
	top: 0;
	right: $right;
	left: $left;
	bottom: 0;
	background-color: var(--dm-calendar-date-range-selected-background-color, #ebf3ff99);
	pointer-events: none;
}

.dm-calendar {
	& .dm-calendar-header {
		& .dm-calendar-title {
			user-select: none;
			text-align: center;
			color: var(--dm-calendar-title-color, $dm-primary-text-color);
			font-size: var(--dm-calendar-title-font-size, 1.25rem);
			font-weight: var(--dm-calendar-title-font-weight, 500);
			line-height: var(--dm-calendar-title-line-height, 1.46rem);
			margin-bottom: var(--dm-calendar-title-margin-bottom, 2rem);
		}

		& .dm-calendar-year-month {
			user-select: none;
			@include flex(center, center);
			color: var(--dm-calendar-year-month-color, $dm-main-color);
			font-size: var(--dm-calendar-year-month-font-size, 1rem);
			font-weight: var(--dm-calendar-year-month-font-weight, 500);
			margin-bottom: var(--dm-calendar-year-month-margin-bottom, 1.5rem);

			> div:not(:nth-child(3)){
				padding-inline: var(--dm-calendar-year-month-padding-inline, 0.5rem);
			}

			> div:nth-child(3) {
				margin-inline: var(--dm-calendar-year-month-margin-inline, 2.75rem);
			}
		}
	}

	& .dm-calendar-content {
		margin-bottom: var(--dm-calendar-content-margin-bottom, 1.5rem);

		& .dm-calendar-week-box {
			user-select: none;
			font-family: DIN, DIN;
			@include calendarGrid();
			margin-bottom: var(--dm-calendar-week-box-margin-bottom, 1rem);

			& .dm-calendar-week {
				@include gridItem();
				color: var(--dm-calendar-week-color, $dm-primary-text-color);
				font-size: var(--dm-calendar-date-font-size, 0.75rem);
				font-weight: var(--dm-calendar-date-font-weight, 400);
			}
		}

		& .dm-calendar-date-box {
			position: relative;
			user-select: none;
			font-family: DIN, DIN;
			@include calendarGrid();

			& .dm-calendar-background {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1;
				user-select: none;
				color: var(--dm-calendar-background-text-color, $dm-tertiary-text-color);
				font-size: var(--dm-calendar-background-font-size, 10rem);
				opacity: var(--dm-calendar-background-opacity, 0.4);
			}

			& .dm-calendar-date {
				@include gridItem();
				color: var(--dm-calendar-date-color, $dm-secondary-text-color);
				font-size: var(--dm-calendar-date-font-size, 0.88rem);
				font-weight: var(--dm-calendar-date-font-weight, bold);
				z-index: 2;
				box-sizing: border-box;
			}

			& .dm-calendar-date-quaternary {
				color: var(--dm-calendar-date-quaternary-color, $dm-quaternary-text-color);
				font-size: var(--dm-calendar-date-font-size, 0.88rem);
				font-weight: var(--dm-calendar-date-font-weight, 400);
			}

			& .is-single-selected {
				@include selectedColor();
				border-radius: var(--dm-calendar-date-selected-border-radius, 10rem);
			}

			& .is-multiple-selected {
				@include selectedColor();
				border-radius: var(--dm-calendar-date-multiple-selected-border-radius, 0.5rem);
			}

			& .is-range-start {
				position: relative;
				@include selectedColor();
				border-radius: var(--dm-calendar-date-range-start-border-radius, 0.5rem 0 0 0.5rem);
				box-shadow: 0 0 0.7rem 0.025rem var(--dm-card-shadow-heavy-color, $dm-shadow-heavy-color);
			}

			& .is-range-start::after {
				@include rangeGapStyle(100%, -0.5rem);
			}

			& .is-range-selected {
				position: relative;
				color: var(--dm-calendar-date-range-selected-color, $dm-button-default-text-color);
				background-color: var(--dm-calendar-date-range-selected-background-color, #ebf3ff99);
			}

			& .is-range-selected::before {
				@include rangeGapStyle(-0.5rem, 100%);
			}

			& .is-range-selected::after {
				@include rangeGapStyle(100%, -0.5rem);
			}

			& .is-range-end {
				position: relative;
				@include selectedColor();
				border-radius: var(--dm-calendar-date-range-end-border-radius, 0 0.5rem 0.5rem 0);
				box-shadow: 0 0 0.7rem 0.025rem var(--dm-card-shadow-heavy-color, $dm-shadow-heavy-color);
			}

			& .is-range-end::before {
				@include rangeGapStyle(-0.5rem, 100%);
			}
		}
	}
}
