@use "./var.scss" as *;

.dm-card {
	width: var(--dm-card-width, auto);
	height: var(--dm-card-height, auto);
	background-color: var(--dm-card-background-color, $dm-background-color-default);
	border-radius: 0.63rem;

	& .dm-card-header{
		margin-inline: var(--dm-card-header-margin, 1rem);
		padding-block: var(--dm-card-header-padding, 1rem);
		border-bottom: 0.06rem solid var(--dm-card-header-border-color, $dm-dividing-line-color);
		color: var(--dm-card-header-text-color, $dm-primary-text-color);
		font-size: var(--dm-card-header-font-size, 1rem);
    font-weight: var(--dm-card-header-font-weight, 500);
    line-height: var(--dm-card-header-line-height, 1.17rem);
	}

	& .dm-card-body{
		padding: var(--dm-card-body-padding, 1rem);
	}
}

.dm-card-shadow{
  box-shadow: var(--dm-card-shadow, 0 0 1rem 0.5rem $dm-shadow-color);
}

.dm-card-border{
	border: var(--dm-card-border, 0.02rem solid $dm-dividing-line-color);
}