@use "./var.scss" as *;

@mixin font() {
	font-size: var(--dm-input-font-size, 0.88rem);
	font-weight: var(--dm-input-font-weight, 400);
	line-height: var(--dm-input-font-height, 1.03rem);
}

.dm-input {
  flex: 1;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	> input {
		@include font();
		color: var(--dm-input-text-color, $dm-primary-text-color);
		border: none;
		outline: none;
    width: 100%;
	}

	> input::placeholder {
		@include font();
		color: var(--dm-input-placeholder-color, $dm-tertiary-text-color);
	}
}
