$dm-main-color: #2965FF;
$dm-secondary-color: #ECF4FF;
$dm-shadow-color: #2965FF0F;

$dm-background-color-default: #FFFFFF;
$dm-background-color-disabled: #EEEEEE;

$dm-primary-text-color: #333333;
$dm-secondary-text-color: #666666;
$dm-tertiary-text-color: #999999;

$dm-dividing-line-color: #EEEEEE;