@use "../icon/iconfont.css" as *;

$dm-main-color: #2965FF;
$dm-secondary-color: #A5C4FF;
$dm-tertiary-color: #ECF4FF;
$dm-quaternary-color: #C1D6FF;
$dm-shadow-color: #2965FF0F;
$dm-shadow-heavy-color: #2965FF99;
$dm-overlay-color: #00000099;

$dm-red-color: #FF3B2F;

$dm-background-color-default: #FFFFFF;
$dm-background-color-disabled: #EEEEEE;

$dm-primary-text-color: #333333;
$dm-secondary-text-color: #666666;
$dm-tertiary-text-color: #999999;
$dm-quaternary-text-color: #CCCCCC;

$dm-button-actived-text-color: #FFFFFF;
$dm-button-default-text-color: #A5C4FF;

$dm-dividing-line-color: #EEEEEE;

$dm-required-color: #FF6666;

@mixin flex($aiStyle: center, $jcStyle: flex-start) {
  display: flex;
  align-items: $aiStyle;
  justify-content: $jcStyle;
}
